MISTRAL_API_KEY=igmBmBz6c0Q5JRkqSLcnjYPyWA16tbRi
OPENAGENDA_API_KEY=oa_pk_WGUwztXQluxcaOUoaUMYOCWcXRRMfwDSIbMipANhaLUkSsFJMDqocjdmWFLwryHd
TARGET_LOCATION=Paris
MISTRAL_MODEL=mistral-large-latest
RAG_TOP_K=5
FAISS_INDEX_PATH=vectorstore/faiss_index
